{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}
    <style>
        .white-box {
            background-color: white;
            padding: 20px;
            font-family: 'Inter', sans-serif;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
    <section class="article-list">
        <div class="white-box">
            <h1>👋 Hey, I'm Augusto Barbosa!</h1>
            <p>I'm a Senior Agile Expert with a strong background in information systems and a passion for empowering teams and individuals!</p>
            <p>With over 12 years of experience, I've transitioned from the Support Analyst role to a Scrum Master and Agile Coach roles, helping teams deliver value effectively. I work at adidas, focusing on guiding product teams to achieve their goals and successfully deliver impactful projects and programs.</p>
            <p>Other than Senior Agile Expert, I am also performing as a people manager, leading and managing a diverse team to develop team strategies, set objectives, and align with organizational goals by following the adidas people management processes like performance reviews, touchbases, career development, etc.</p>
            <p>I'm curious and dedicated to continuous learning and have earned certifications in data analytics and engineering, including Google Data Analytics Specialization and IBM's Data Science Specialization. Right now, I'm also pursuing an MBA in People Management because I believe that people are the heart of every organization.</p>
            <p>Below you can find some of the projects I developed over the years to consolidate my data and programming language skills.</p>
            
            <h2>🎧 🔊 Side Project (DJing):</h2>
            <p>The DJ alter ego of a 33-year-old Brazilian music lover hailing from São Paulo but now playing the scenes in Porto, where he's been evolving and entertaining for the past four years. </p>
            <p>Guto's dynamic musical roots are steeped in the rhythmic pulses of samba and the lyrical flow of hip-hop, while his soul is deeply embedded in the diverse world of house music. This eclectic background enables him to blend genres, creating unique sound vibes that explores everything from afro, going over dance, to deep and strands of house music, captivating audiences who crave a journey through sound.</p>
            <p>"It's me, Guto" isn't just a name—it's a statement, a lifestyle, and a celebration of freedom by the power of music.</p>
            <p>You can find me on <a href="https://www.youtube.com/@itsmeguto">Youtube</a></p>
            <p>And this is my latest dj set released:</p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/JtsM_0n59o8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <h2>👨🏻‍💻 Social Media:</h2>
            <p>You can find me on <a href="https://x.com/itsmeguto17">Twitter</a>, <a href="https://www.instagram.com/itsmeguto/">Instagram</a> and <a href="https://www.linkedin.com/in/augusto-cm-barbosa/">LinkedIn</a>.</p>
            
            <p>Hope you enjoy and feel free to contact me in case of any questions or feedback. :)</p>
        </div>
    </section> 
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
